body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("farm.jpg")
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border-radius:10px;
  position:absolute;
  /* height: 100px;
  width: 100px */
  /* border:10px solid red; */
}

.blinky {
  border:10px solid red;
  position:absolute;
}

/*
.horse {
  position:absolute;
  height:300px;
  width: 300px;
} */

.cowboyDancer{
  position:absolute;
  height:200px;
  width: 500px;
}

/* .background {
  width: 100%;
  height: 100%
}  */